<!DOCTYPE html>
<html>

<% var pageName = `先生` %>

<head>
	<% var opt = {
		pageName: pageName,
	}; %>
	<%- include(`${RoutesPath}/../views/_ejs/03-header/head-tag`, opt) %>
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- ヘッダー -->
		<% var opt = {
		}; %>
		<%- include(`${RoutesPath}/../views/_ejs/03-header/header`, opt) %>

		<!-- サイドバー -->
		<% var opt = {
			userName: session.name,
			activeId: "teacher", 
		}; %>
		<%- include(`${RoutesPath}/../views/_ejs/03-header/sidebar`, opt) %>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0"><%= pageName %></h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<div class="float-sm-right">
								<button class="btn btn-block btn-success" onclick="location.href='/admin/<%= filepath %>/add/'">新規登録</button>
							</div>
							<!-- <ol class="breadcrumb float-sm-right"> -->

							<!-- </ol> -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="mb-2">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-column">
							表示列切り替え
						</button>
						<!-- <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#modal-search">
							検索
						</button> -->
					</div>
					<div class="modal fade" id="modal-column">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">表示列切り替え</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- 列表示切替のチェックボックス -->
									<% for(var i in column) { %>
									<% var e = column[i] %>
									<div>
										<label>
											<input class="row_display-checkbox" type="checkbox" id="<%= i %>_check"><%= e[0].replace("<br>", "") %>
										</label>　
									</div>
									<% } %>
									<div>
										<button class="reset-btn row_display-delete">初期設定に戻す</button>
										<button class="reset-btn row_display-all">全て表示</button>
									</div>
								</div>
								<div class="modal-footer justify-content-between">
									<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
					<!-- 検索のモーダル -->
					<div class="modal fade" id="modal-search">
						<!-- 検索モーダル 内容 -->
					</div>
					<!-- /.modal -->

					<!-- <div class="row"> -->
					<div class="row" style="width: max-content;">
						<table class="table table-bordered table-hover _table">
							<thead>
								<tr>
									<!-- 列表示切替のチェックボックス -->
									<% for(var i in column) { %>
									<% var e = column[i] %>
									<th><%= e[0] %></th>
									<% } %>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < rows.length; i++) { %>
								<% i = Number(i) %>
								<% var e = rows[i] %>
								<% var id = e.t_id %>

								<tr>
									<td>
										<button class="btn btn-block btn-outline-success btn-sm" onclick="location.href='/admin/<%= filepath %>/edit/<%= e.t_id %>/'">編集</button>
									</td>
									<td>
										<button class="btn btn-block btn-outline-success btn-sm" onclick="location.href='/admin/<%= filepath %>/shift-edit/<%= e.t_id %>/'">シフト</button>
									</td>
									<td><%= `${e.family_name} ${e.first_name}` %></td>
									<td>
										<% if (e.gender == "m") { %>
										男
										<% } else if (e.gender == "f") { %>
										女
										<% } else if (e.gender == "e") { %>
										その他
										<% } else { %>
										<span style="color: red;">不正な値</span>
										<% } %>
									</td>
									<td><%= e.mail %></td>
									<td><%= e.tel %></td>
									<td style="max-width: 200px;">
										<pre style="white-space: pre-wrap;"><%= e.remarks %></pre>
									</td>
								</tr>
								<% }; %>
							</tbody>
						</table>
					</div>
					<!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<% var opt = {
		}; %>
		<%- include(`${RoutesPath}/../views/_ejs/03-header/footer`, opt) %>
	</div>
	<!-- ./wrapper -->

	<%- include(`${RoutesPath}/../views/_ejs/03-header/foot-tag`, opt) %>

	<!-- 表示切り替えチェックボックス -->
	<script type="text/javascript">
		var cookieName = "parents-column"
		var column = JSON.parse('<%- JSON.stringify(column) %>');
		var defaultState = "["
		for (const e of column) {
			if (e[1]) defaultState += 1 + ","
			else defaultState += 0 + ","
		}
		defaultState = defaultState.slice(0, -1)
		defaultState += "]"
		console.log(defaultState);
	</script>
	<script src="/admin/javascripts/00-basic/row-display.js"></script>
</body>

</html>